body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #DEDEDE;
}

.container {
    height: 40px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    background: #BABABA;
    display: flex;
}
.element {
    height: 40px;
    border: 1px solid black;
    background: #DE3435;
}