body {
	width: 100vw;
	height: 100vh;
	margin: 0;
}
.container {
	height: inherit;
	width: inherit;
	position: relative;
}
#here {
	width: 90%;
	height: 70%;
	margin-left: 5%;
	margin-top: 5%;
	border: 5px solid black;
	position: relative;
}
.absolute {
	position: absolute;
}
.centered {
	top:45%;
	left:40%;
}
#points1 {
	top:-10%;
	left:20%;
}
#points2 {
	top:-10%;
	left:70%;
}
.points {

}

#ball {
	background-color: red;
	height: 10px;
	width: 10px;
	border-radius:50%;
	border: 1px black solid;
	position:absolute;
}
#bar1 {
	background-color: blue;
}
#bar2 {
	background-color: green;
}
.bar {
	width: 10px;
	border-radius:25%;
	border: 1px black solid;
	position:absolute;
}